{
"id2":{"serialPort":"NC","braut":115200,"powerType":"MAIN","gpio":[-1]},
"uhf":{"serialPort":"NC","braut":115200,"powerType":"MAIN","gpio":[-1],"module":""},
"print":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"psam":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":[7],"resetGpio":8},
"finger":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]}
}
