{
"id2":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":[93]},
"uhf":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94],"module":"r2k"},
"print":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":[94]},
"psam":{"serialPort":"/dev/ttyMT3","braut":115200,"powerType":"MAIN","gpio":[96],"resetGpio":98},
"finger":{"serialPort":"ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]}
}
