{
"id2":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":["93"]},
"uhf":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":["93"]},
"r6" :{"serialPort":"/dev/rc663","braut":0,"powerType":"","gpio":[""]},
"print":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":["94"]},
"pasm":{"serialPort":"/dev/ttyMT3","braut":115200,"powerType":"MAIN","gpio":["96"]},
"finger":{"serialPort":"ttyMT2（无UHF）
ttyMT1（有UHF）
ttyMT2（打印）
后期改USB","braut":115200,"powerType":"MAIN","gpio":["94"]},
"dist":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"temp":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"lf1":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":["94"]},
"lf2":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":["94"]},
"sp433":{"serialPort":"ttyMT2（单板）
ttyMT3（打印）","braut":115200,"powerType":"MAIN","gpio":["94（单板）
93（打印）"]},
"scan":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"MAIN","gpio":["64"]},
"ur2k":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":["93"]},
"zigbee":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":["94"]},
"infrared":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"MAIN","gpio":["64"]}
}
