{
"id2":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN_AND_EXPAND","gpio":[88,7]},
"uhf":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[88],"module":"r2k"},
"print":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN_AND_EXPAND","gpio":[73,4]},
"psam":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN_AND_EXPAND","gpio":[88,2],"resetGpio":1},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[-1]}
}
