{
"id2":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[94]},
"uhf":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[119],"module":"r2k"},
"print":{"serialPort":"","braut":115200,"powerType":"MAIN","gpio":[-1]},
"psam":{"serialPort":"/dev/ttyMT3","braut":115200,"powerType":"MAIN","gpio":[121],"resetGpio":124},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[4]}
}
