{
"id2":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"NEW_MAIN","gpio":[28,75]},
"uhf":{"serialPort":"/dev/ttyHSL2","braut":115200,"powerType":"GAOTONG_MAIN","gpio":[uhf_open,uhf_close],"module":"r2k"},
"print":{"serialPort":"/dev/ttyMT3","braut":115200,"powerType":"MAIN_AND_EXPAND","gpio":[85,0]},
"psam":{"serialPort":"/dev/ttyHSL1","braut":115200,"powerType":"GAOTONG_MAIN","gpio":[psam_open,psam_close],"resetGpio":[psam_rst_on],psam_rst_on},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[4]}
}
