{
"id2":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"MAIN_AND_EXPAND","gpio":[85,3]},
"uhf":{"serialPort":"/dev/ttyMT2","braut":115200,"powerType":"MAIN","gpio":[119],"module":"r2k"},
"print":{"serialPort":"/dev/ttyMT3","braut":115200,"powerType":"MAIN_AND_EXPAND","gpio":[85,0]},
"psam":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"MAIN","gpio":[93],"resetGpio":94},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[4]}
}
