{
"id2":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"NEW_MAIN","gpio":[12]},
"uhf":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"EXPAND","gpio":[9,14],"module":"r2k"},
"print":{"serialPort":"/dev/ttyMT0","braut":115200,"powerType":"NEW_MAIN","gpio":[8]},
"psam":{"serialPort":"/dev/ttyMT1","braut":115200,"powerType":"NEW_MAIN","gpio":[16,46],"resetGpio":23},
"finger":{"serialPort":"USB","braut":115200,"powerType":"MAIN","gpio":[4]}
}
