<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.speedata.device">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.PERMISSION_GRANTED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WebViewActivity"
            android:theme="@style/NoTitleTheme">
            <intent-filter>
                <action android:name="com.speedata.device" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigAct"
            android:theme="@style/NoTitleTheme" >
            <intent-filter>
                <action  android:name="speedata.config"></action>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".OperationActivity" />
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllGpiosAct" />
        <activity android:name=".MainGpiosAct" />
        <activity android:name=".helper.HelperActivity" />
        <activity android:name=".I2CActivity" />
        <activity android:name=".GPSAct" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5975c781a3251104020017b9" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />

        <activity android:name=".TestActivity" />
        <activity android:name=".telephony.BaseStationActivity" />
        <activity android:name=".DoConfigAct" />
        <activity android:name=".ConfigFaqActivity"></activity>
    </application>

</manifest>